#sniperlead-overlay {
  background: rgb(21, 21, 21);
  box-sizing: border-box;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.3;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#sniperlead-modal {
  display: none;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  width: 700px - 40px;
  background-color: rgba(242, 245, 248, 0.94);
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 26px 20px;
  border-radius: 4px;
  z-index: 9999;

  * {
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }

  .inner {
    overflow: hidden;
    form {
      overflow: hidden;
      .picture {
        overflow: hidden;
        float: left;
        padding: 0;
        margin-right: 10px;
        width: 80px;
        //height: 100px;
        img {
          display: block;
          margin: auto;
          width: 100%;
        }
      }
      .form-row {
        display: block;
        margin-bottom: 10px;
        padding: 0 10px;
        overflow: hidden;
        width: 100%;

        &.head {
          margin-bottom: 25px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        input[type="text"] {
          display: inline-block;
          width: 330px;
          vertical-align: top;
          border-radius: 3px;
          border: 1px solid #d6d6d6;
          padding: 0 10px;
          height: 38px;
          line-height: 38px;
          color: #333;
          font-size: 14px;
        }

        input[type="submit"] {
          height: 40px;
          line-height: 37px;
          text-align: center;
          border: none;
          border-radius: 4px;
          background-color: #24aa98;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          display: inline-block;
          width: 190px;
          vertical-align: top;
          margin: 0;
        }

        input {
          margin-right: 10px;
        }
      }
      .form-title {
        color: #000;
        display: inline-block;
        font-size: 24px;
        text-transform: uppercase;
        width: 80%;
        line-height: 28px;
      }
    }
  }
}
